<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="info">
        <h1>Server Info</h1>
        <p>Argumentos: {{argumentos}}</p>
        <p>Version: {{version}}</p>
        <p>OS: {{os}}</p>
        <p>Process ID: {{pid}}</p>
        <p>Memoria: {{rss}}</p>
        <p>Nombre Carpeta: {{dir_name}}</p>
        <p>Path: {{path}}</p>
    </div>
</body>
</html>